
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&family=Merriweather&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

#continer{
     position: relative;
     justify-content: center;
     align-items: center;
     display: flex;
     width: 100%;
     height: 99vh;
     background-color: rgb(84, 81, 81);
     overflow: hidden;
}

h1{
     color: white;
     font-size: 40px;
     font-family: "Bungee Spice", sans-serif;
     font-weight: 400;
     font-style: normal;
}
     

#yes{
     width: 70px;
     height: 30px;
     border-radius: 4px;
     margin-top:40px ;
     cursor: pointer;
     color: whitesmoke;
     background-color: rgb(196, 54, 54);
}
#target{
     position: absolute;
     background-color: rgb(44, 103, 187);
    margin-left: 130px;
     width: 70px;
     height: 30px;
     border-radius: 4px;
     margin-top:40px ;
     cursor: pointer;
     color: whitesmoke;
}